
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Studierenden-Verwaltung / Veranstaltungsmanagement</h2>

<div id="_partialCourseList">

</div>

<br />

<div id="_partialMyCourses">

</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            reloadPage();
        });

        function reloadPage() {            
            partialLoad('/Cours/_PossibleCourses/', 'GET', '_partialCourseList', 'html', '');
            partialLoad('/Cours/_SelectedCourses/', 'GET', '_partialMyCourses', 'html', '');
        }
    </script>


}
