@model BootstrapSiteLCD.ViewModels.StudentViewModel

@{
    ViewBag.Title = "Studierendenverwaltung";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 class="page-header">
    @ViewBag.Title
    <small>Studierenden bearbeiten</small>
</h1>
<ol class="breadcrumb">
    <li>
        @Html.ActionLink("Home", "Index", "Home")
    </li>
    <li class="active">Studierende</li>
</ol>

<div class=" row">
    <div class="col-lg-12">
        <div id="_partialStudents">
            @{
                    Html.RenderAction("_Index", "Students", new { });
            }
        </div>
    </div>
</div>
<div class=" row">
    <div class="col-lg-12">
        <div id="_partialAddresses">
        </div>
    </div>
</div>

