<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Packvorgang Ihres Webprojekts verwendet. Sie können das Verhalten dieses Vorgangs anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Besuchen Sie "http://go.microsoft.com/fwlink/?LinkID=208121", um weitere Informationen zu erhalten. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://asptutorial-clean.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>asptutorial-clean.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>asptutorial-clean</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$asptutorial-clean</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ASPTutorialDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=asp-tutorial-server.database.windows.net;Initial Catalog=ASP_Tutorial_DB;Persist Security Info=True;User ID=ASP_Tutorial;Password=LCD2016ss;Application Name=EntityFramework" Name="Data Source=asp-tutorial-server.database.windows.net;Initial Catalog=ASP_Tutorial_DB;Persist Security Info=True;User ID=ASP_Tutorial;Password=LCD2016ss;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=asp-tutorial-server.database.windows.net;Initial Catalog=ASP_Tutorial_DB;Persist Security Info=True;User ID=ASP_Tutorial;Password=LCD2016ss;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ASPTutorialDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ExampleEntitiyDataModel.csdl|res://*/Models.ExampleEntitiyDataModel.ssdl|res://*/Models.ExampleEntitiyDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=asp-tutorial-server.database.windows.net;initial catalog=ASP_Tutorial_DB;persist security info=True;user id=ASP_Tutorial;password=LCD2016ss;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-BootstrapSiteLCD-20140225031045.mdf;Initial Catalog=aspnet-BootstrapSiteLCD-20140225031045;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-BootstrapSiteLCD-20140225031045.mdf;Initial Catalog=aspnet-BootstrapSiteLCD-20140225031045;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ASPTutorialDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ExampleEntitiyDataModel.csdl|res://*/Models.ExampleEntitiyDataModel.ssdl|res://*/Models.ExampleEntitiyDataModel.msl;provider=System.Data.SqlClient;provider connection string="data source=asp-tutorial-server.database.windows.net;initial catalog=ASP_Tutorial_DB;persist security info=True;user id=ASP_Tutorial;password=LCD2016ss;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
</Project>